.container {
  background-color: rgb(217, 224, 231);
  display: flex;
  flex: 1;
  flex-direction: column;
}
.header {
  padding: 20px;
  background-color: #cee3f8;
}
.content {
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.menu-container {
  flex: 1;
  background-color: #fff;
}
.subreddit {
  flex: 8;
}
